[[source]]
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true
name = "pip_conf_index_global"

[packages]
jsonpath = "*"
pymongo = "*"
crypto = "*"
pytesseract = "*"
rsa = "*"
pydes = "*"
pycryptodome = "*"
jsonpath-ng = "*"
redis = "*"
pymysql = "*"
openpyxl = "*"
faker = "*"
pypinyin = "*"
ddt = "*"
rich = "*"
natsort = "*"
ddddocr = "*"
unittestreport = "*"
prettytable = "*"
pytest = "*"
pika = "*"
paho-mqtt = "*"
requests-html = "*"

[dev-packages]

[requires]
python_version = ">=3.9"
python_full_version = "3.9.5"
