[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jsonpath-ng = "*"
jsonpath = "*"
requests = "*"
urllib3 = "*"
pymysql = "*"
rsa = "*"
loguru = "*"
faker = "*"
natsort = "*"
pydes = "*"
pyyaml = "*"
dbutils = "*"
openpyxl = "*"
mitmproxy = "*"
pytesseract = "*"
paho-mqtt = "*"
ddddocr = "*"
crypto = "*"

[dev-packages]

[requires]
python_version = "3.9"
